body{
    overflow: hidden;
    background-color: black;
}

.pag {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: transform 1s cubic-bezier(0,.25,0,1.0);
    top: 0;
    left: 0;
}

.titol {
    width: 100vw;
    height: 12vh;
}

h1 {
    background-color: black;
    color: azure;
    margin: 0 0 0 0;
    text-align: center;
    font-size:10.5vh;
}

img {
    width: 2vw;
}

.dia {
    background-color: black;
}

.diaCol{
    text-align: center;
    height: 5.5vh;
    width: 4.5vw;
    margin: 0 0 0 0;
}

h2 {
    background-color: black;
    color: azure;
    margin: 0 0 0 0;
    text-align: center;
    font-size:4vh;
}

table {
    background: gray;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

tr {
    background-color: black;
    color: azure;
}

td {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
}

.diaSetmana {
    width: 14vw;
    height: 6vh;
}

#Prova {
    background-color: blue;
    width: 42vw;
    height: 2vh;
    bottom: 1vh;
    left: 1vw;
    position: absolute;
    border-radius: 1vh;
    
}

.casellaDia {
    width: 14vw;
    height: 16vh;
    margin: 0 0 0 0;
}